In [19]:
import pandas as pd
import yfinance as yf
from yahooquery import Ticker



def historical_yfinance(symbols, start_date, end_date):
    _symbols = " ".join(symbols)
    df = yf.download(_symbols, start=start_date, end=end_date)
    df = df[["Close"]].droplevel(axis=1, level=0)
    return df
    
def historical_yquery(symbols, start_date, end_date):
    _symbols = " ".join(symbols)
    tickers = Ticker(_symbols, asynchronous=True)
    df = tickers.history(start=start_date, end=end_date)
    return df

y_fin = historical_yfinance(["BPAC11.SA", "^BVSP"], "2019-01-01", "2020-01-01")
y_query = historical_yquery(["BPAC11.SA", "^BVSP"], "2019-01-01", "2020-01-01")

[*********************100%***********************]  2 of 2 completed

In [20]:
y_fin.head(10)

            BPAC11.SA    ^BVSP
Date
2019-01-02     6.2250  91012.0
2019-01-03     6.4825  91564.0
2019-01-04     6.7125  91841.0
2019-01-07     6.8500  91699.0
2019-01-08     6.5525  92032.0
2019-01-09     6.5625  93613.0
2019-01-10     6.4825  93806.0
2019-01-11     6.4750  93658.0
2019-01-14     6.4100  94474.0
2019-01-15     6.4000  94056.0

In [21]:
y_query[["close"]].head(10)

                       close
symbol    date
BPAC11.SA 2019-01-02  6.2250
          2019-01-03  6.4825
          2019-01-04  6.7125
          2019-01-07  6.8500
          2019-01-08  6.5525
          2019-01-09  6.5625
          2019-01-10  6.4825
          2019-01-11  6.4750
          2019-01-14  6.4100
          2019-01-15  6.4000